body {
  background-color: rgba(73, 132, 187, 0.726);
  border-radius: 10px;
  color: white;
  display: table;
  margin: auto;
}

h1 {
  color: white;
}

input[type=number]{
  opacity: 1;
  width: 90px;
  border-radius: 6px;
  width: 120px;
  margin-top: 10px;
}

input[type=range]{
  opacity: 1;
  width: 100px;
  margin-left: 5px;
}

input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

button {
  width: 200px;
  margin-bottom: 20px;
}

#teste:disabled, #teste:hover{
  background-color: rgba(39, 122, 189, 0.726);
  color: white
}

.jumbotron {
  background-color:rgba(23, 68, 110, 0.726);
  border-radius: 10px;
}

.needs-validation {
  padding-left: 30px;
  padding-right: 30px;
}

#response_plot {
  width: 50%;
}

output {
  color:rgba(23, 68, 110, 0.726);
}

.btn {
  background-color: rgba(23, 68, 110, 0.726);
  border-color: rgba(11, 54, 95, 0.726);
  color:white;
}

.inline {
  display: inline;
}