html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    background-color: gray;
}

body {
    display: table-cell;
    vertical-align: middle;
    width: 600px;
    background-color: gray;
}

h1 {
  color: black;
}

input[type=number]{
  opacity: 1;
  width: 90px;
}

input[type=range]{
  opacity: 1;
  width: 90px;
  margin-left: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


button {
  background-color: #8ead90;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
