body {
    background-color: rgba(73, 132, 187, 0.726);
    border-radius: 10px;
    color: white;
}

h1 {
  color: white;
}

input[type=number]{
  opacity: 1;
  width: 90px;
  border-radius: 6px;
  width: 120px;
}

input[type=range]{
  opacity: 1;
  width: 90px;
  margin-left: 10px;
}

input[type=text], select {
 
  padding: 12px 20px;
  margin: 8px 0;
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

button {
  width: 200px;
  margin-bottom: 20px;
}

.jumbotron {
  background-color:rgba(23, 68, 110, 0.726);
  border-radius: 10px;
}

.needs-validation {
  padding-left: 30px;
  padding-right: 30px;
}

#response_plot {
  width: 50%;
}

.btn {
  background-color: rgba(23, 68, 110, 0.726);
  border-color: rgba(11, 54, 95, 0.726);
  color:white;
}